.categories{width: 20%;margin-top: 0%;margin-top: 2%;}
.router{ width: 50%; text-align: justify;
  position: relative;
  left: 23%;
  bottom: 430px;}
.email{width: 100%;margin-top: 2%;}
.patronages{height: 0px;position: relative;
width: 20%;align-items: flex-end;float: right;position: relative;bottom: 100px;}
.teams{height: 0px;position: relative;
 width:20% ;align-items: flex-end;float: right;position: relative;bottom: 440px;}
